/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/clockwork
/vendor
.env
.env.production
.env.api-production
.env.backup
.env.testing
.env.dusk.local
.phpunit.result.cache
.idea/*
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
phpunit.dusk.xml
/public/dist
/public/build
/public/mix-manifest.json
/public/sitemap.xml
.DS_Store
public/.DS_Store
*.DS_Store
.vapor/
.env.production
.env.staging
_ide_helper.php

/.make.*
