.idea/*
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
phpunit.dusk.xml
.DS_Store
public/.DS_Store
*.DS_Store
docker-compose.override.yml
/.make.*

# Environment files
.env
api/.env
client/.env
.env.*
api/.env.*
client/.env.*
!.env.example
!api/.env.example
!client/.env.example
