name: Publish Docker image

on:
  push:
    tags:
      - "v*"

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Get tag name
        run: |
          (
            echo "TAG_NAME=${GITHUB_REF#refs/*/v}";
            echo "DOCKER_UI_REPO=${{secrets.DOCKER_UI_REPO}}"
            echo "DOCKER_API_REPO=${{secrets.DOCKER_API_REPO}}"
          ) >> $GITHUB_ENV

      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        run: docker login -u "${{ secrets.DOCKER_USERNAME }}" -p "${{ secrets.DOCKER_ACCESS_TOKEN }}"

      - name: Build docker api image
        run: docker build . -t $DOCKER_API_REPO:latest -t $DOCKER_API_REPO:$TAG_NAME

      - name: Build docker ui image
        run: cd client && docker build . -t $DOCKER_UI_REPO:latest -t $DOCKER_UI_REPO:$TAG_NAME

      - name: Push Docker api image
        run: docker push $DOCKER_API_REPO:latest && docker push $DOCKER_API_REPO:$TAG_NAME

      - name: Push Docker ui image
        run: docker push $DOCKER_UI_REPO:latest && docker push $DOCKER_UI_REPO:$TAG_NAME
